// body {
//   background-color: #0094B3;
// }

// .loginscreen {
//   color:#fff;
// }

// .container-fluid {
//   padding-left: 0px;
//   padding-right: 0px;
// }

// .landing-banner-icons{
//   font-size: 24px;
//   padding: 5px;
// }

// a.landing-banner-icons {
//   color: #fff;
// }

// a.landing-banner-icons:hover {
//   color: blue;
// }

// .landing-banner-text {
//   font-size: 18px;
// }

// .text-center {
//   text-align: center;
// }

// input[placeholder],
//     [placeholder],
//     *[placeholder] {
//       color: red !important;
//     }


// @media only screen
// and (min-device-width : 320px)
// and (max-device-width : 568px)
// and (orientation : landscape) {
//   .landing-banner-icons{
//     font-size: 14px;
//     padding: 5px;
//     text-align: center;
//   }

//   .landing-banner-text {
//     font-size: 10px;
//   }
// }
.map-wrapper {
width: 40%;
height: calc(100vh);
right: 0;
display: block;
position: absolute;
}