.landing-body {
  background-color: #fff;
}

.landing-loginscreen {
  color:#0094B3;
}

.landing-container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.landing-banner-icons{
  font-size: 40px;
  padding: 5px;
}

a.landing-banner-icons {
  color: #0094B3;
}

.landing-banner-text {
  font-size: 18px;
}

.landing-text-center {
  text-align: center;
}

.landing-input[placeholder],
    [placeholder],
    *[placeholder] {
      color: red !important;
    }


// @media only screen
// and (min-device-width : 320px)
// and (max-device-width : 568px)
// and (orientation : landscape) {
//   .landing-banner-icons{
//     font-size: 14px;
//     padding: 5px;
//     text-align: center;
//   }

//   .landing-banner-text {
//     font-size: 10px;
//   }
// }
.map-wrapper {
width: 40%;
height: calc(100vh);
right: 0;
display: block;
position: absolute;
}

.valeureux-form-group {
  height: 34px;
}

.width-100 {
  width: 100%;
}
