<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Transaction history </h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-9 m-b-xs">
            <div data-toggle="buttons" class="btn-group">
              <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
              <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
              <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-primary"> Go!</button>
            </span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type </th>
              <th>Status </th>
              <th>Description </th>
              <th>Amount </th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jul 14, 2013</td>
              <td>Outgoing transfer</td>
              <td>Confirmed</td>
              <td>Your purchase @ MilkyWayCoin Lcl.</td>
              <td>80 V</td>
              <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
              <td>Jul 14, 2013</td>
              <td>Outgoing transfer</td>
              <td>Confirmed</td>
              <td>Your purchase @ MilkyWayCoin Lcl.</td>
              <td>80 V</td>
              <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
              <td>Jul 14, 2013</td>
              <td>Outgoing transfer</td>
              <td>Confirmed</td>
              <td>Your wire trasfer to @ my brother</td>
              <td>80 V</td>
              <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
            <tr>
              <td>Jul 14, 2013</td>
              <td>Outgoing transfer</td>
              <td><span class="label label-warning">Canceled</span></td>
              <td>Your purchase @ MilkyWayCoin Lcl.</td>
              <td>80 V</td>
              <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
