<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Terms & Conditions</h2>
    </ol>
</div>
<div class="col-sm-8">
</div>
        </div>
<div class="wrapper wrapper-content animated fadeInUp">




<p><strong>Terms and conditions for the use of this site</strong></p>
<p>Please read these terms and conditions carefully, they contain important information about your rights and obligations. You can print out these terms and conditions by clicking on the print icon on your browser. By using this site and/or ordering the use of it from us you consent to these Terms and our Privacy Policy.</p>
<p><strong>Introduction</strong></p>

<p>Please read these terms and conditions carefully before using the website operated by us as set out below. In particular, we draw your attention to clause 6 (Liability). By accessing or using logixcentral and by clicking to indicate you have read and agreed these terms when ordering, you agree to be legally bound by these terms and conditions as they may be modified and posted on our website from time to time.</p>

<p>Without prejudice to the above, by using or accessing our website, you agree to be legally bound by these terms and conditions of use as they apply to your use of or access to our website.</p>

<p>If you do not wish to be bound by these terms and conditions then to keep our insurance
costs (and thus costs to you to a minimum) you may not use our website.</p>

<p><strong>Parties</strong></p>

(1) Distribution Planning Software Ltd a company incorporated in England, company
registration number 02064379 and having its registered office at No 5 Centre Court, Vine
Lane, Halesowen, West Midlands, B63 3EB England (“the Provider”) and (2) You (‘the
Customer’)



</div>


