<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>How to top up your account </h5>
        </div>
        <div class="ibox-content">
          <div class="table-responsive text-center">
            <h4 class="font-bold no-margins">Here's the number you can wire Euros into: </h4>
            <h3 class="text-center"><span class="badge badge-info">BE23 2345 3466 3443</span></h3>
            <h4 class="font-bold no-margins">Please provide the following reference as a communication: </h4>
            <h3 class="badge badge-info text-center">
              <%= current_user.account.structured_account_number %>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Top up history </h5>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
                <table class="table table-hover no-margins">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <% current_user.account.topups.each do |t| %>
                        <td><span class="label label-warning"><%= t.status %></span> </td>
                        <td></i> <%= t.created_at %></td>
                        <td class="text-navy"> <i class="fa fa-level-up"></i> <%= t.amount %></td>
                    <% end %>
                    </tr>
                    </tbody>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

