<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Title</h2>

</div>
<div class="col-sm-8">
<div class="title-action">
    <a href="" class="btn btn-primary">This is action area</a>
</div>
</div>
        </div>
<div class="row">
<div class="col-lg-12">
    <div class="wrapper wrapper-content">
        <div class="middle-box text-center animated fadeInRightBig">
            <h3 class="font-bold">This is page content</h3>

            <div class="error-desc">
                Go back to your Activity screen

                <%= link_to "/home/index" do %>
                <i class="fa fa-bar-chart-o"></i> <span class="btn btn-primary m-t">Activity</span>
                <% end %>

            </div>
        </div>
    </div>
</div>
</div>